body{
    font-family: Arial, sans-serif;
    background:#1e1e1e;
    color:white;
    text-align:center;
    margin-top:40px;
}
.container{
    background:#2c2c2c;
    width:400px;
    margin:auto;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}
select,input,button{
    width:95%;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    border:none;
}
button{
    background:#007bff;
    color:white;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
.progress{
    width:100%;
    background:#444;
    border-radius:8px;
    margin-top:15px;
}
.progress-bar{
    height:25px;
    width:0%;
    border-radius:8px;
    text-align:center;
    line-height:25px;
    font-weight:bold;
}
.status{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
}

/* BOTÃO INVISÍVEL */
.botao-secreto{
    position:fixed;
    bottom:5px;
    right:5px;
    width:8px;
    height:8px;
    background:transparent;
    border:none;
    opacity:0.05;
    cursor:pointer;
}
